{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<h1>Modifier votre mot de passe</h1>

	{{ form_start(requestForm) }}
	{{ form_row(requestForm.email) }}
	<div>
		<small>
			Entrer votre adresse e-mail pour modifier votre mot de passe.
		</small>
	</div>

	<button class="btn btn-primary">Modifier le mot passe</button>
	{{ form_end(requestForm) }}
{% endblock %}
