{% extends 'base.html.twig' %}

{% block title %}Travel Blog
{% endblock %}

{% block body %}
	<div class="row">
		{% for message in app.flashes('message') %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}
	</div>
	<div class="row">
		{{ form(form)}}
		</div>
	{% endblock %}
